#container
{
margin:0 auto;
background-color: lightseagreen;
align-items: center;
flex-direction: column;
justify-content: center;
min-height: 500px;
padding: 20px;
width: 60%;
display: flex;
}
#choices{
border: 10px solid black;
border-radius: 10%;
font-weight: bold;
display: flex;
flex-direction: column;
flex-wrap: wrap;
width:50%;
height: 150px;
justify-content: space-evenly;
}
.header{
    margin-top: 50px;
    padding: 50px;
}
.choice{
margin: 5px;
width: 80%;
}
#question {
font-size: 30px;
width: 100%;
}
#qImage{
align-self: center;
width: 250px;
height: 200px;
}
img{
margin: 0 auto;
}
#answers{
display: flex;
border-radius: 10%;
justify-content: space-between;
border:10px solid red;
width: 30%;
padding: 20px;
}
#wrapper{
display: inline-block;
padding: 10px;
border: 10px solid black;
border-radius: 10%;
background-color: lightgoldenrodyellow;
}
  
